<div class="registerDivMain">

    <div class="rigthDiv">
        <p>left</p>


    </div>

    <div class="leftDiv">

        <div class="formContainner">
            <form class="registerForm" (ngSubmit)="tryCreateUser()" [formGroup]="createUserForm" #formDir="ngForm">
                <mat-card-title>Cadastro</mat-card-title>
                <mat-form-field class="fildInput">
                    <mat-label>Digite seu nome</mat-label>
                    <input matInput 
                        [(ngModel)]="userCreate.name" 
                        name="name"
                        placeholder="Ex: Fulano da silva" 
                        [required]="true" 
                        type="text"
                        [minLength]="5"
                        formControlName="name"
                        >
                </mat-form-field>

                <mat-form-field class="fildInput">
                    <mat-label>Digite seu email</mat-label>
                    <input matInput 
                        [(ngModel)]="userCreate.email" 
                        name="email" 
                        placeholder="exemplo@exemplo.com"  
                        [email]="true"
                        [required]="true"
                        formControlName="email"
                        
                        > 
                        
                </mat-form-field>

                <mat-form-field class="fildInput">
                    <mat-label>Escolha uma senha</mat-label>
                    <input matInput 
                        [(ngModel)]="userCreate.password" 
                        name="password"
                        placeholder="min. 2 caracter" 
                        [required]="true" 
                        [minLength]="2" 
                        type="password"
                        formControlName="password">
                </mat-form-field>
                
            <button mat-raised-button (click)="tryCreateUser()">Cadastrar</button>

            </form>
            

            <span class="spanToLogin" (click)="toLogin()">Já tem cadastro?<p class="toLogin">Login</p></span>

        </div>
   
    </div>
    
</div>