<mat-sidenav-container class="containner">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">

            <a mat-list-item routerLink="home">
                <i class="material-icons v-middle">home</i>
                Inicio
            </a>
            <a mat-list-item routerLink="imoveis" >
                <i class="material-icons v-middle">construction</i>
                Imóveis
            </a>
            
          
            <a mat-list-item routerLink="editar-dados">
                <i class="material-icons v-middle">settings</i>
                Editar dados
            </a>
        
        </mat-nav-list>
    </mat-sidenav>
   
    <mat-sidenav-content class="content">
        <div class="teste">
            <router-outlet></router-outlet>
        </div>
       

    </mat-sidenav-content>

</mat-sidenav-container>

