
<mat-card class="properties">

  
  </mat-card>
  <div>
    
  </div>
  <mat-card>
    <mat-card-title>resume de imoveis para venda</mat-card-title>
    <mat-card-content>
      <mat-card class="imovel"> ola</mat-card>
    </mat-card-content>
  
    <p>Valor: 1.159,00</p>

    
      <button mat-button color="primary">Aluguei!</button>
      <button mat-button>Editar imóvel</button>
   
  </mat-card>
  
  
  <button (click)="onAdd()" mat-fab color="primary" aria-label="Example icon button with a delete icon">
    <mat-icon >add</mat-icon>
  </button>