<div class="teste">
    
    <mat-card>
        <mat-toolbar>informações do imóvel</mat-toolbar>
        <form [formGroup]="form" >
    
            <div class="title-description">
    
                <mat-form-field >
                    <input matInput placeholder="Título" formControlName="title" type="text">
                </mat-form-field>
    
                <mat-form-field >
                    <input matInput placeholder="Descrição" formControlName="description" type="text">
                </mat-form-field>
    
                <mat-form-field >
                    
                    <mat-select formControlName="propertyType" placeholder="Tipo de propriedade">
                        <mat-option value="terreno">Terreno</mat-option>
                        <mat-option value="casa" >Casa</mat-option>
                        <mat-option value="apartamento">Apartamento</mat-option>
                    </mat-select>
                    
                </mat-form-field>
    
                <div class="bath-bed-rooms">
    
                    <mat-form-field class="bedroom">
                        <select matNativeControl required formControlName="bedroomQuantity" placeholder="quartos">
                            <option label="quartos" [defaultSelected]="true" disabled></option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5 +</option>
                          </select>
                    </mat-form-field>
    
                    <mat-form-field class="bathroom">
                        <select matNativeControl required formControlName="bathroomQuantity">
                            <option label="banheiros" [defaultSelected]="true" disabled></option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5 +</option>
                            </select>
                    
                    </mat-form-field>
    
                </div>
    
                <div class="price-profit-container">
                    <mat-form-field  class="price">
                        <input matInput  placeholder="Preço" formControlName="price" type="number">
                    </mat-form-field>
    
                    <mat-form-field class="profit">
                        <input matInput  placeholder="lucro ex: 15%" formControlName="profitPercent" type="number">
                    </mat-form-field>
                </div>
                
                <div class="images-container">
    
                    
    
                    <div class="image-container" *ngFor="let img of imgsUrl">
                        <a class="delete-image" >x</a>
                        <img class="image" src="{{img}}"   >
                    </div>
                        
    
                    <label class="label-images">
                        <span class="add-image-span"><mat-icon class="v-middle">photo_camera</mat-icon>Adicionar fotos<h6>JPG, GIF e PNG somente</h6></span>
                        <input #imageInput 
                            class="input-images"
                            type="file"
                            id="image_uploads"
                            name="image_uploads"
                            accept="image/*"
                            (change)="processFile(imageInput)"
                            multiple />
                           
                    </label>
    
                    
                </div>
                
    
                <mat-radio-group formControlName="contractType" color="primary">
                    <mat-radio-button value="rent"  >aluguel</mat-radio-button>
                    <mat-radio-button value="salle">venda</mat-radio-button>
                </mat-radio-group>
               
            </div>
    
            
                
          
    
        </form> 
    
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="onSubmit()">Cadastrar</button>
            <button mat-raised-button (click)="onCancel()">Cancelar</button>
        </mat-card-actions>
    </mat-card>

</div>
