<div class="page">

    <header>
        <div class="logo" >
            <p><mat-icon class="v-middle">home</mat-icon>Casa Manager</p>
        </div>
    
        <mat-card-actions class="actions" >
            <a class="login size" (click)="login()">Login</a>
            <a class="create-account size" (click)="register()">Cadastro</a>
        </mat-card-actions>

    </header>

    <main>
        
    <div class="page-center">
        <p class="phrase">O lugar onde corretores gerenciam imóveis do seu portifólio sem burucracia e de forma inteligente</p>

    </div>

    </main>
</div>

   



